h2 {
    color: white; 
    font-weight: 700 !important;
    text-align: center;
    text-decoration: underline rgb(158, 22, 22);
}

h3 {
    color: rgb(204, 167, 167);
    font-weight: 700 !important;
}

h4 {
    text-align: center; 
    text-decoration: underline rgb(158, 22, 22);
}

h6 {
    font-size: xx-small;
    font-weight: 600 !important;
}

hr {
    background-color: white;
}

p {
    color: white;
}

.modal-content {
    background-color: #2D3748 !important;
    color: white;
}