h3 {
    text-align: center;
    color: rgb(158, 22, 22) !important;
    font-weight: 700 !important;
}

.col-md-6 a {
    position: relative;
    left: 36%;
    font-weight: 600;
    color: white !important;
}

#whatsapp {
    color: white;
    text-align: center;
}